[DatabaseConnection]
#dbname can be any database on your system that the defined user has access to
host = localhost
username = 
password = 
port=5432
dbname = template1

[BackupCreds]
#comment out the remote_locn if not required
local_locn = 
#remote_locn = 
remote_locn = 
pg_dump_path = ""
days = 1

[Output]
outputlevel:INFO

#ERROR
#INFO
#DEBUG

# comment out the email section if email options are not required (in that case will output to console only at present)
[Email]
email_sender = 
email_recip = 
smtp_address = 
